<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="main-about">
      <section class="aboutUs-container">
        <h2>Historia de <span class="dorado">EOS</span></h2>
        <p>
          <strong>EOS</strong> es un
          <i>e-commerce de retail deportivo</i> enfocado en la indumentaria
          urbana. Trabajamos con una amplia variedad de productos de marcas
          lideres del rubro, brindando asi una maxima experiencia para nuestros
          clientes.
        </p>
        <p>
          Nace como producto del proyecto integrador de la carrera de
          Desarrollo Web FullStack de
          <a href="https://www.digitalhouse.com/">Digital House</a> creado por
          <strong>Emanuel Pelliza</strong>, <strong>Mariano Suarez</strong> y
          <strong>Mariano Pedrini</strong>.
        </p>
      </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
