<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>


    <main class="main-error">

        <img src="images/index/percha-rota.png" alt="pagina rota" />
        <h2>Oops! No encontramos la pagina que buscas.</h2>
        <h3>Busquemos otra cosa ;)<h3>
        <a href="/products">Ir a la tienda</a>

    </main>


    <%- include("./partials/footer.ejs") %>
  </body>
</html>
