<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="faq-about">
      <section class="faq-container">
        <h2>PREGUNTAS FRECUENTES</h2>
        <div class="cont-pregunta">
          <h5>
            <span class="dorado">¿</span>Qué
            <strong>medios de pago</strong> aceptan<span class="dorado">?</span>
          </h5>
          <p>
            En EOS aceptamos TARJETAS DE CREDITO/DEBITO, MERCADOPAGO Y EFECTIVO.
          </p>
        </div>
        <div class="cont-pregunta">
          <h5>
            <span class="dorado">¿</span>Cuánto tarda en llegar mi pedido<span
              class="dorado"
              >?</span
            >
          </h5>
          <p>Entre 3 y 7 días hábiles.</p>
        </div>
        <div class="cont-pregunta">
          <h5>
            <span class="dorado">¿</span>Cómo sé que mi pago fue correctamente
            acreditado<span class="dorado">?</span>
          </h5>
          <p>
            Una vez que tu pago fue acreditado, recibirás un correo electrónico
            con la confirmación de pago.
          </p>
        </div>
        <div class="cont-pregunta">
          <h5>
            <span class="dorado">¿</span>Cómo <strong>cancelo mi compra</strong
            ><span class="dorado">?</span>
          </h5>
          <p>
            Para cancelar tu compra envianos un correo a maililng.eos@gmail.com
            o hace click
            <strong><a href="mailto:maililng.eos@gmail.com">ACÁ</a>.</strong>
          </p>
        </div>
        <h5></h5>
      </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
