<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/header.ejs") %>

    <main class="main-index">
      <section>
        <a href="/products/detail/10">
          <img
            src="images/index/Homepage-Banner-AF1React-170120.jpg"
            class="zapatillas"
          />
        </a>
      </section>

      <section class="container-banner-tienda">
        <div class="banner-tienda">
          <a href="/products">
            <h3>→ ¡VISITÁ NUESTRA TIENDA! ←</h3>
          </a>
        </div>
      </section>

      <section class="contenedor-marcas-index">
        <article class="marcas">
          <a href="#">
            <img src="images/index/logo-vans.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="#">
            <img src="images/index/logo-underArmour.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="#">
            <img src="images/index/logo-nike.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="#">
            <img src="images/index/logo-puma.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="#">
            <img src="images/index/logo-adidas.png" />
          </a>
        </article>

        <article class="marcas">
          <a href="#">
            <img src="images/index/logo-newBalance.png" />
          </a>
        </article>
      </section>

      <section class="contenedor-banner-index">
        <a href="https://www.argentina.gob.ar/ahora-12/consumidores/">
          <img src="/images/index/bannerAhora12.png" class="banner" />
        </a>
      </section>
    </main>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
