<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="main-contact">
      <section class="contact-container">
        <h3>GRACIAS POR TU MENSAJE!</h3>
        <h2>Nos contactaremos contigo a la brevedad.</h2>
        <a href="/#">Ir a la tienda</a>

      </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
