<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/headerOnlyEos.ejs") %>
    <main class="main-about stores">
      <section class="aboutUs-container">
        <h2>SUCURSALES</h2>
        <p>
          <strong>UNICENTER</strong> Paraná 3745, Martínez, Provincia de Buenos
          Aires.
        </p>
        <div class="small-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4649.59075663572!2d-58.52589966086646!3d-34.509040395778584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf9a611e58747f528!2sUnicenter!5e0!3m2!1ses!2sar!4v1621481084102!5m2!1ses!2sar"
            width="350"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
        <div class="big-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4649.59075663572!2d-58.52589966086646!3d-34.509040395778584!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf9a611e58747f528!2sUnicenter!5e0!3m2!1ses!2sar!4v1621481084102!5m2!1ses!2sar"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </section>
    </main>
  </body>
  <%- include("./partials/footer.ejs") %>
</html>
