<footer>
  <div class="footer">
    <div class="contenedor-logo-y-redes-footer">
      <div class="contenedor-logo-eos-footer">
        <a href="/">
          <img
            class="logo-eos-footer"
            src="../../../images/index/EOS-gold.svg"
            alt="logo eos"
        /></a>
      </div>

      <div class="contenedor-redes-footer">
        <a class="logo-redes-footer" href="#">
          <div class="circulo">
            <i class="fab fa-instagram"></i>
          </div>
        </a>
        <a class="logo-redes-footer" href="#">
          <div class="circulo">
            <i class="fab fa-facebook-f"></i>
          </div>
        </a>
        <a class="logo-redes-footer" href="#">
          <div class="circulo">
            <i class="fab fa-twitter twitter"></i>
          </div>
        </a>
      </div>
    </div>

    <nav class="nav-footer">
      <ul>
        <li>
          <a href="/about">Sobre Nosotros</a>
        </li>
        <li>
          <a href="/contact">Contacto</a>
        </li>
        <li>
          <a href="/faq">Preguntas frecuentes</a>
        </li>
        <li>
          <a href="/stores">Locales más cercanos</a>
        </li>
      </ul>
    </nav>
  </div>

  <div>
    <p class="copyright">Copyright © 2020-2021 EOS S.R.L.</p>
  </div>
</footer>
