<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>- EOS® -</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  />
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/styles.css" />

  <!-- JS header -->
  <script src="/js/menuHamburguesa.js"></script>
  <script src="/js/menuUsuario.js"></script>

  <!-- JS productos -->
  <script src="/js/newProduct.js"></script>
  <script src="/js/updateProduct.js"></script>
  <!-- JS product detail -->
  <script src="/js/productDetail.js" defer></script>

  <!-- JS usuarios -->
  <script src="/js/registerUser.js"></script>
  <script src="/js/updateUser.js"></script>

</head>
