<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <!-- Header-->
    <%- include("../partials/header.ejs") %>

    <main class="all-products-main">
      <section class="navbar-products">
        <div>
          <h2>MIS COMPRAS</h2>
        </div>
        
      </section>

    </main>

    <!-- Footer-->
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
