<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-reg-log">
      <div class="container-all-reg-log">
        <h2>INGRESÁ</h2>

        <form
          action="/users/login"
          method="POST"
          class="login-registro-formulario"
        >
          <div class="contenedor-campos-reg-log log-textcenter">
            <label for="email">Correo electrónico</label>
            <input
              type="email"
              name="email"
              id="email"
              class="log-textcenter"
            />
          </div>

          <div class="contenedor-campos-reg-log log-textcenter">
            <label for="password">Contraseña</label>
            <input
              type="password"
              name="password"
              id="password"
              class="log-textcenter"
            />
          </div>
          <% if (locals.errors && errors.email){%>
          <div class="text-danger"><%=errors.email.msg%></div>
          <%}%>

          <div class="forgot-pass">
            <a href="/users/password">Olvidaste tu contraseña?</a>
          </div>

          <div class="checkbox-reg-log">
            <input type="checkbox" name="conectado" id="conectado" />
            <label for="conectado">Permanecer conectado</label>
          </div>

          <div class="boton-reg-log boton-log">
            <button type="submit">INGRESAR</button>
          </div>

          <div class="text-log">
            <p>
              No tenes cuenta?
              <a href="/users/register" class="login-registro-link">
                <i><strong> Creá una </strong></i>
              </a>
            </p>
          </div>
        </form>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
