<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>

    <main class="main-reg-log">
      <div class="container-all-reg-log">
        <h2>RECORDÁ TU CONTRASEÑA</h2>

        <form
          action="/users/password"
          method="POST"
          class="login-registro-formulario"
          onsubmit="password()"
        >
          <div class="contenedor-campos-reg-log log-textcenter">
            <label for="email">Ingresá tu Correo electrónico</label>
            <input
              type="email"
              name="email"
              id="email"
              class="log-textcenter"
            />
          </div>

          
          <% if (locals.errors && errors.email){%>
          <div class="text-danger"><%=errors.email.msg%></div>
          <%}%>

          
          <div class="boton-reg-log boton-log">
            <button type="submit">ENVIAR</button>
          </div>

          
        </form>
      </div>
    </main>

    <%- include("../partials/footer.ejs") %>
  </body>
</html>
