* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* FOOTER SIEMPRE ABAJO */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 140px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
}
/* FOOTER SIEMPRE ABAJO */

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
}

button:active {
  outline: 0;
}
button:focus {
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*----------------------Header-----------------------*/

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px #977a58 solid;
}
.logoEOS {
  width: 60px;
  padding: 20px 10px;
}

.header input,
button {
  border: none;
}

.header button,
input {
  background-color: rgba(0, 0, 0, 0);
}

.busqueda-header input:focus {
  outline: none;
}
.busqueda-header button:focus {
  outline: none;
}

.busqueda-header {
  display: flex;
  justify-content: space-between;
  width: 50%;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #977a58 solid;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.busqueda-header input {
  width: 85%;
}
.logoLupa {
  padding-right: 5px;
  width: 5%;
  color: #977a58;
}
/* MENU HAMBURGUESA */
.container-icomo-hamburguesa {
  color: #977a58;
  font-size: 25px;
}
.icono-cerrar {
  color: #977a58;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 5vh 10vw 0 0;
}
.cont-menu-hamburguesa {
  background-color: rgba(255, 255, 255, 01);
  height: 100vh;
  width: 90vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  padding: 20vh 0;
  margin: auto;
  box-shadow: 0 0 3px rgb(100, 100, 100);
}
.dorado {
  color: #977a58;
}
/* Estilo para JS */
.active {
  transform: translate(-700px);
}

.cont-menu-hamburguesa nav a {
  color: black;
  display: block;
  font-size: 5vw;
  text-decoration: none;
  cursor: pointer;
  padding: 2vh 0 2vh 10vw;
  width: 100%;
  text-transform: uppercase;
  text-align: start;
  transition: all 0.5s ease;
}

.cont-menu-hamburguesa a:hover {
  color: #977a58;
  transform: translateX(5%);
}

/* MENU HAMBURGUESA */

.menu-header {
  display: none;
  color: #977a58;
}
.menu-header a:hover i {
  color: #977a58;
  transition: 0.15s;
}

/* MENU USUARIO */
.user-header {
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.icono-usuario {
  color: black;
  font-size: 25px;
  padding: 0 5px;
}
.icono-usuario:hover {
  color: #977a58;
  transition: 0.15s;
}
.icono {
  opacity: 0;
}
.contenedor-menu-usuario {
  position: relative;
  padding: 0 5px;
}
.menu-usuario {
  position: absolute;
  background-color: #e7e3dd;
  top: 69px;
  right: 0;
  z-index: 1000;
  display: none;
  /* display: flex; */
  flex-direction: column;
  width: 150px;
  box-shadow: 2px 2px 3px rgb(117, 117, 117);
}
.menu-usuario.activo {
  display: flex;
}
.menu-usuario a {
  padding: 10px 0;
  border-top: 1px #977a58 solid;
}

/* ----------------------Estilos index-----------------------*/

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zapatillas {
  width: 100%;
  margin: auto;
}

.banner {
  max-width: 100%;
  width: auto;
  height: auto;
}

.container-banner-tienda {
  width: 100%;
}

.banner-tienda {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 7vh;
  width: 100%;
  padding: 2vw 0;
}

.banner-tienda h3 {
  font-size: calc(1rem + 1vw);
}

.contenedor-marcas-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0 10px 0;
}
.contenedor-marcas-index article {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 2vh 0;
}
.marcas img {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

/*----------------------Estilos Faq-----------------------*/
.faq-about {
  background-image: url(../images/index/skyscrapers-blue-sky-1.jpg);
  background-position: center;
  background-size: cover;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.faq-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 10px 20px 10px;
  border-radius: 5px;
  color: white;
}

.faq-container h2 {
  width: 70%;
  color: white;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 25px;
  margin: auto;
  text-align: center;
}
.cont-pregunta {
  border-top: 1px solid #977a58;
  width: 100%;
  padding: 1vh 0;
}
.cont-pregunta h5 {
  font-size: 20px;
  padding-bottom: 1vh;

  text-transform: uppercase;
}
.cont-pregunta p {
  font-style: italic;
}

/*----------------------Estilos Contact-----------------------*/

.main-contact {
  background-image: url(../images/index/skyscrapers-blue-sky-1.jpg);
  background-position: center;
  background-size: cover;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px 2vw 20px 2vw;
  text-align: center;
  color: white;
  max-width: 700px;
  border-radius: 5px;
}
.contact-container h3 {
  font-size: 30px;
}
.contact-name-email {
  display: flex;
  flex-direction: column;
}

.contact-container form {
  display: flex;
  flex-direction: column;
}

.contact-container form label {
  text-align: start;
  padding: 2vh 0 1vh 0;
}
.contact-container form input {
  color: #977a58;
  border: 1px solid white;
  height: 30px;
  padding-left: 5px;
  border-radius: 5px;
}

.contact-container form textarea {
  border: 1px solid white;
  background-color: #00000000;
  padding: 5px;
  color: #977a58;
  border-radius: 5px;
}
.contact-container .boton-reg-log {
  border-radius: 10px;
  padding-top: 2vh;
  margin: auto;
}
.contact-container .boton-reg-log button {
  background-color: rgb(202, 202, 202);
  font-weight: 600;
}

/*----------------------Estilos messageOk-----------------------*/
.contact-container a,
.contact-container h2 {
  font-size: 20px;
  margin: 20px 0px;
}

/*----------------------Estilos About Us-----------------------*/
.main-about {
  background-image: url(../images/index/skyscrapers-blue-sky-1.jpg);
  background-position: center;
  background-size: cover;
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutUs-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 10px 20px 10px;
  text-align: center;
  border-radius: 5px;
}

.aboutUs-container h2 {
  width: 70%;
  color: white;
  padding: 25px 5% 0 5%;
  text-transform: uppercase;
  font-size: 25px;
  margin: auto;
}
.aboutUs-container p {
  width: 80%;
  color: white;
  padding: 10px 5% 20px 5%;
  font-size: 18px;
  margin: auto;
  font-weight: 300;
}
.aboutUs-container strong {
  font-weight: 600;
}
.aboutUs-container p a {
  color: #cb1e40;
}

/*----------------------Estilos ProductDetail-----------------------*/
.main-productDetail {
  padding: 2vh 0;
}
.container-productDetail {
  width: 95vw;
  margin: auto;
}
.container-productDetail img {
  width: 100%;
}
.container-caract-productDetail {
  display: flex;
  flex-direction: column;
}
.container-caract-productDetail h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}
#hided {
  display: none;
}
.precio-productDetail {
  font-size: 35px;
  font-weight: 600;
  padding: 1vh 0;
}
.container-caract-productDetail p {
  margin: 2px 0;
}
.main-productDetail .boton-contenedor {
  text-align: center;
  margin: 1vh 0 3vh 0;
}
.main-productDetail .boton-contenedor .finalizar-compra {
  width: 100%;
}

.container-productDetail-bottom {
  text-align: center;
  padding-left: 2vw;
  padding-right: 2vw;
  margin-bottom: 3vh;
}
.container-productDetail-bottom h4 {
  padding: 10px 0;
  border-top: 1px solid #977a58;
  font-size: 25px;
  text-align: center;
}

/*-----------------------Estilos Cart-------------------------------*/
.main-carrito {
  margin-top: 3vh;
  padding: 0 10px 0 10px;
  margin-bottom: 5vh;
}
.titulo-carrito {
  text-align: center;
  margin-bottom: 10px;
}
.container-productos-detallecompra {
  display: flex;
  flex-direction: column;
}
.container-productos-carrito {
  max-width: 400px;
}
.producto-carrito {
  display: flex;
  align-items: center;
  max-height: 100px;
  margin: 10px 0 10px 0;
}
.img-producto {
  height: 100px;
  border: 1px solid black;
}
.descripcion-producto-carrito {
  height: 100px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  padding: 5px;
}

.talle-carrito {
  color: grey;
}
.unidades-producto {
  width: 100%;
}

.precio {
  padding-left: 5px;
  margin: 0;
  align-self: flex-end;
  font-weight: 700;
}

.linea-separadora {
  border-top: 1px solid grey;
  height: 2px;
  padding: 0;
  margin: 0px auto 0 auto;
}
/* ---------------------Detalle de Compra----------------*/
.contenedor-detalle-compra {
  background-color: rgb(146, 135, 123, 0.1);
  border-radius: 8px;
  padding: 20px;
}
.detalle {
  font-size: 20px;
  font-weight: 900;
}
.linea-separadora-detalle {
  border-top: 1px solid grey;
  height: 2px;
  padding: 0;
  margin: 0px auto 0 auto;
}
.contenedor-detalle-compra {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 300px;
}
.contenedor-detalle-compra p {
  margin: 0;
  padding: 0 0 0 20px;
}

.total-compra {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;
}
.subtotal {
  padding-top: 10px;
}
.total-compra {
  padding: 10px 0;
}
.boton-descuento {
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  margin-bottom: 5px;
}
.cupon-descuento {
  font-size: 12px;
  border: solid 1px grey;
  text-align: center;
  width: 210px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.precio-total {
  font-weight: 900;
}

.boton-contenedor {
  margin-left: auto;
  text-align: right;
  margin-top: 10px;
}
.finalizar-compra {
  border: none;
  color: #977a58;
  background-color: black;
  padding: 10px 40px;
  border-radius: 10px;
  font-weight: 800;
}
.finalizar-compra:hover {
  background-color: #977a58;
  color: black;
}
.finalizar-compra button:active {
  transform: translateY(2px);
}

.finalizar-compra:focus {
  outline: none;
}

.ver-mas-titulo {
  font-weight: 800;
  text-align: center;
}

.ver-mas-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}
.articulo-vermas {
  margin: 10px;
}
.articulo-vermas img {
  width: 130px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.articulo-vermas p {
  margin: 0;
  font-size: 10px;
  text-align: center;
  font-weight: 800;
}

/* --------------Estilos Register/login-------------- */
.text-danger {
  padding-top: 3px;
  color: #d63b3b;
  align-self: flex-start;
  font-size: 15px;
}

.main-reg-log {
  /*
  
  background-color: rgba(192, 179, 163, 0.2);
  */
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(151, 122, 88, 0.2);
}
.main-reg-log h2 {
  text-align: center;
  margin-top: 8px;
}

.main-reg-log form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 10px 20px 15px 20px;
}
.contenedor-campos-reg-log {
  display: flex;
  flex-direction: column;
  width: 80vw;
  max-width: 400px;
  margin: 2px 0;
  font-size: 20px;
}

#erroresRegUser {
  margin-top: 10px;
  border-radius: 5px;
  display: none;
  padding: 10px 0;
  background-color: #ff000057;
  text-align: center;
}

.main-reg-log form input {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 0 5px;
  height: 30px;
  font-size: 15px;
}

.label-reg-log {
  margin-top: 10px;
  font-weight: 400;
}
.checkbox-reg-log {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.checkbox-reg-log input {
  margin: 10px;
}

.text-checkbox-reg-log {
  font-size: 18px;
  color: rgba(71, 71, 71, 0.692);
}

.checkbox-reg-log a {
  color: rgba(0, 0, 255, 0.753);
}

.boton-reg-log {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
}

.boton-reg-log button {
  align-self: center;
  color: #977a58;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-weight: 400;
  width: 100%;
  height: 40px;
}

.boton-reg-log button:hover {
  background-color: #977a58;
  color: black;
}
.boton-reg-log button:active {
  transform: translateY(2px);
}

.main-log {
  background-color: rgba(192, 179, 163, 0.2);
  padding-top: 10px;
}

.log-textcenter {
  text-align: center;
}

.boton-log {
  margin: 0;
}
.text-log {
  margin-top: 10px;
}
.contenedor-campos-reg-log {
  margin-top: 1vh;
}
.forgot-pass {
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}

/* --------------Estilos newProduct-------------- */

.container-newProduct {
  background-color: rgba(192, 179, 163, 0.521);
  padding: 10px 0;
}
.titulo-newProduct {
  text-transform: uppercase;
  text-align: center;
  padding-top: 8px;
}
.container-newProduct form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  padding: 10px 0 15px 0;
}
.contenedor-campos-newProduct {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 2px 0;
}

#preview {
  display: flex;
  justify-content: center;
}

#preview img {
  padding: 1vh 2vw;
  max-width: 300px;
  width: 100%;
}
.container-newProduct form input,
select {
  border: 0;
  background-color: white;
  margin-top: 5px;
  border-radius: 5px;
  padding: 0 5px;
  height: 30px;
  font-size: 15px;
}

.container-newProduct form label {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
}

.contenedor-campos-newProduct textarea {
  margin: 6px 0;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  max-width: 100%;
}
.boton-newProduct {
  margin-top: 2vh;
  align-self: center;
  border: none;
  color: #977a58;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 8px;
  font-weight: 400;
  width: 100%;
  height: 40px;
}
.boton-newProduct:hover {
  background-color: #977a58;
  color: black;
}
.boton-newProduct button:active {
  transform: translateY(2px);
}
#erroresNewProd {
  margin-top: 10px;
  border-radius: 5px;
  display: none;
  padding: 10px 0;
  background-color: #ff000057;
  text-align: center;
}
/* -----------------------Estilos Footer----------------------- */
footer {
  border-top: 1px solid #977a5885;
  background-color: black;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px 10px 30px;
}
footer ul a {
  color: #977a58;
}
footer ul {
  padding: 0;
  margin: 0;
  text-align: center;
}
footer li {
  list-style: none;
  margin: 5px 0 5px 0;
  min-width: 142px;
}

.contenedor-logo-eos-footer {
  display: flex;
  justify-content: center;
}
.logo-eos-footer {
  width: 50px;
}
.contenedor-logo-y-redes-footer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.nav-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  font-weight: 400;
  font-size: 12px;
}

.contenedor-redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.logo-redes-footer {
  color: black;
}

.circulo {
  width: 30px;
  height: 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #977a58;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.twitter {
  padding-left: 2px;
}

.copyright {
  color: grey;
  font-size: 10px;
  text-align: center;
}

/*----------------------Productos-----------------------*/
.navbar-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  margin-top: 10px;
}
.filter-products {
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 15px;
}
.filter-products button {
  display: flex;
  padding: 6px 15px 6px 20px;
  background-color: rgba(128, 128, 128, 0);
  border-radius: 15px;
}
.filter-products i {
  margin-left: 5px;
  margin-top: -2px;
}
.all-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-product {
  width: 49vw;
  border: 1px solid #977a58;
  margin-bottom: 3vh;
  border-radius: 5px;
}
.container-product img {
  width: 100%;
  padding: 20px;
}
.product-descpription {
  text-transform: capitalize;
  padding: 10px;
  padding-top: 5px;
  border-top: 2px solid #ddc4a7;
}
.product-descpription h3 {
  font-weight: 400;
}

.container-edit-product-button {
  display: flex;
  flex-direction: column;
}
.edit-product-button {
  font-weight: 600;
  border: 1px solid #977a58;
  background-color: #977a5813;
  border-radius: 15px;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}
.edit-product-button:hover {
  background-color: black;
  color: #977a58;
}
.edit-product-button:active {
  transform: translateY(2px);
}

/*---------------------- Detalle de usuario -----------------------*/
.container-userDetail {
  display: flex;
  flex-direction: column;
  padding: 4vh 6vw;
}
.userDetail-name-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b6b5b3;
}
.userDetail-name {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  width: 70%;
}

.userDetail-name-img img {
  max-width: 80px;
  width: 30%;
}
.userDetail-row {
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
  border-bottom: 1px solid #b6b5b3;
}
.userDetail-row .grey-title {
  color: #88827d;
  padding-bottom: 1vh;
}
.user-data {
  font-size: 20px;
}

.profile-pic {
  border-radius: 50%;
}

/*---------------------- User List -----------------------*/
.main-userList h3 {
  padding: 2vh 0;
  text-align: center;
}

.userList-user-container {
  display: flex;
  align-items: center;
  min-height: 50px;
  margin: 0 10vw;
  border-top: 1px solid black;
  padding: 5px 0;
}
.userList-img {
  max-width: 50px;
}

.userList-nombre {
  font-weight: 600;
  margin: 50px 0;
}

.userList-eliminar {
  margin-left: 50px;
  background-color: red;
}

/*---------------------- STORES -----------------------*/
.big-map {
  display: none;
}

/*---------------------- ADMIN VIEW -----------------------*/
.main-admin {
  padding: 0 2vw;
}
.main-admin h2 {
  font-size: 30px;
  text-align: center;
  margin: 2vh 0;
}
.admin-box {
  padding: 3vh 0;
  border-top: 1px solid black;
}
.admin-box h5 {
  font-size: 20px;
  text-transform: uppercase;
}
.admin-box div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-box div a {
  margin: 5px 0;
}
.admin-box div button {
  background-color: rgb(0, 0, 0);
  color: #977a58;
  border-radius: 10px;
  padding: 10px;
  min-width: 180px;
  text-transform: uppercase;
  cursor: pointer;
}
.admin-box div button:hover {
  background-color: #977a58;
  color: black;
}

/*---------------------- ERROR -----------------------*/

.main-error {
  margin: 15vh 12vw 25vh 12vw;
}

.main-error img {
  height: 100%;
  width: 80px;
}
.main-error h2 {
  font-size: 23px;
  margin: 10px 0px;
}
.main-error h3 {
  font-weight: 400;
}

.main-error a {
  color: #977a58;
}

/*---------------------- ESTILOS DINAMICOS -----------------------*/
.borde-rojo {
  border: 1px red solid;
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*----------------- MEDIA QUERIES ---------------- */
/*-------------------------------------------------*/
/*-------------------------------------------------*/
/*-------------------------------------------------*/

@media (min-width: 360px) {
  /* Footer */
  .footer {
    flex-direction: row;
    justify-content: center;
    max-width: 600px;
    margin: auto;
  }
  .contenedor-logo-redes-footer {
    display: flex;
    flex-direction: column;
  }
  .nav-footer {
    min-width: 134px;
    flex-grow: 0.5;
  }
  .copyright {
    align-self: flex-start;
    padding-bottom: 5px;
  }
  /* Carrito */
  .container-productos-detallecompra {
    align-items: center;
  }
  .contenedor-detalle-compra {
    margin-top: 20px;
  }
}

@media (min-width: 769px) {
  /* Header */
  .header {
    height: 8vh;
    min-height: 70px;
    max-height: 70px;
  }
  .menu-hamburguesa-header {
    display: none;
  }
  .menu-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    width: 40%;
    height: 100%;
  }
  .menu-header a {
    color: black;
    font-size: 14px;
  }
  .logoLupa {
    width: 10%;
    color: #977a58;
  }
  .busqueda-header {
    width: 40%;
  }

  /* Footer */
  .footer {
    max-width: 800px;
    height: 120px;
    padding-top: 30px;
  }
  .logo-eos-footer {
    width: 60px;
  }
  .circulo {
    width: 30px;
    height: 30px;
  }
  .nav-footer {
    font-size: 14px;
  }
  .nav-footer a:hover {
    color: #b1997f;
  }
  .contenedor-redes-footer {
    font-size: 20px;
  }
  footer ul {
    text-align: left;
  }
  .logo-redes-footer .circulo:hover {
    background-color: #b1997f;
  }

  /* Index */
  .contenedor-marcas-index {
    justify-content: space-between;
    padding: 5vh 0;
  }
  .contenedor-marcas-index article.marcas {
    width: 30%;
  }

  /* Carrito */
  .main-carrito {
    padding-right: 20px;
    padding-left: 20px;
  }
  .titulo-carrito {
    font-size: 2rem;
  }
  .container-productos-detallecompra {
    flex-direction: row;
    justify-content: space-around;
  }
  .container-productos-carrito {
    max-width: 60%;
  }
  .vl {
    border-left: 1px solid black;
    height: 300px;
    margin: 0 20px;
  }
  .contenedor-detalle-compra {
    margin-bottom: 0;
  }
  .detalle {
    font-size: 30px;
  }
  .subtotal div {
    font-size: 20px;
  }

  /* New Product*/

  .main-newProduct {
    padding: 2vh 0;
  }
  .container-newProduct {
    margin: auto;
    width: 80vw;
    max-width: 550px;
    border-radius: 20px;
    padding: 0;
  }
  .container-newProduct form {
    margin: auto;
    max-width: 70vw;
  }

  /* Register y login*/
  .main-reg-log {
    background-color: white;
    padding: 2vh 0;
  }
  .container-all-reg-log {
    background-color: rgba(192, 179, 163, 0.8);
    border: 1px solid rgba(128, 128, 128, 0);
    border-radius: 10px;
  }

  /* Productos */
  .container-product {
    width: 30vw;
    transition: 0.1s;
  }
  .container-product:hover {
    box-shadow: 0 0 3px rgb(100, 100, 100);
  }
  .product-descpription {
    transition: 0.1s;
  }
  .container-product:hover .product-descpription {
    background-color: #ddc4a7;
  }
  .navbar-products {
    margin-top: 15px;
    padding: 1vh 2vw;
  }
  .navbar-products h2 {
    font-size: 30px;
  }
  .all-products-container {
    justify-content: space-evenly;
  }

  /* Error */
  .main-error {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  /* Product Detail*/
  .container-productDetail {
    display: flex;
    width: 60vw;
    margin: auto;
    align-items: center;
  }
  .container-productDetail img {
    width: 50%;
  }
  .container-caract-productDetail {
    height: 80%;
    width: 50%;
    display: flex;
  }
  .main-productDetail .boton-contenedor {
    text-align: start;
  }
  .container-caract-productDetail h3 {
    font-size: 40px;
  }
  .container-productDetail-bottom {
    text-align: start;
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: auto;
    margin-bottom: 5vh;
  }
  .container-productDetail-bottom p {
    margin: auto;
    width: 90%;
    padding: 0 2vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  /* About Us*/
  .main-about {
    background-image: url(../images/index/skyscrapers-blue-sky-1.jpg);
    height: 78vh;
  }
  .aboutUs-container h2 {
    font-size: 30px;
    width: 50%;
  }
  .aboutUs-container p {
    width: 50%;
    font-size: 20px;
  }
  /* User Detail*/
  .container-userDetail {
    max-width: 500px;
    margin: auto;
  }
  .container-userDetail {
    margin-top: 2vh;
    padding: 15px 45px;
  }
  /* Stores */
  .cont-pregunta {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .main-admin {
    max-width: 70%;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 0 15vw;
  }
  /* Header */
  .header {
    margin: auto;
    padding: 0 15vw;
    justify-content: space-around;
  }
  .logoEOS {
    width: 80px;
  }
  .busqueda-header input {
    width: 90%;
  }
  .busqueda-header input:focus {
    border: none;
  }

  .busqueda-header {
    margin-left: 30px;
    width: 40%;
  }
  .menu-header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    margin-left: 3vw;
    padding: 0;
  }

  .items-menu-header {
    color: black;
    font-weight: 400;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .items-menu-header a:hover {
    color: #977a58;
    transition: 0.15s;
  }

  .menu-header a {
    width: 100%;
    font-size: 17px;
  }

  .zapatillas {
    max-width: 80vw;
  }

  /* Carrito */
  .main-carrito {
    padding-right: 15vw;
    padding-left: 15vw;
  }

  .container-productos-detallecompra {
    margin-bottom: 10vh;
    padding-right: 50px;
  }
  /* New Product*/

  .container-newProduct {
    width: 550px;
    margin: auto;
    background-color: rgba(192, 179, 163, 0.8);
  }

  /* Error*/

  .main-error img {
    width: 150px;
  }
  .main-error h2 {
    font-size: 30px;
  }
  .main-error h3 {
    font-size: 22px;
    margin-bottom: 5px;
  }

  /* Productos */
  .all-products-main {
    padding: 0 15vw;
  }
  .container-product {
    width: 20vw;
  }
  /* Produc Detail*/
  .main-productDetail .boton-contenedor .finalizar-compra {
    width: 80%;
  }
  /* STORES */
  .stores .aboutUs-container {
    height: 100%;
    max-height: 80vh;
  }
  .small-map {
    display: none;
  }
  .big-map {
    display: block;
  }
  /* Admin */
  .cont-prod-users {
    display: flex;
    max-width: 50%;
    justify-content: center;
    margin: auto;
  }
  .admin-box {
    border-top: none;
    padding: 0 3vw;
  }
  .admin-box h5 {
    text-align: center;
  }
}
